* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(12, 12, 12);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
  margin-top: 85px;
  margin-bottom: 85px;
}
